/* CSS général */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Lato,sans-serif;
}

.contenu {
    margin : 0 50px;
}

.ancre {
    padding-bottom: 5px;
    border-bottom: 1px solid;
    margin: 5px 0;
}

.partie {
    margin-bottom: 50px;
}

footer {
    background-color: black;
}

footer ul {
    margin: 0;
}

.lien_bas_page {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #2a68af;
}

button {
    border: none;
    background: none;
}
button:hover {
    cursor: pointer;
}

/* CSS pour les images défilantes */
#fleche_droite {
    width: 20px;
    height: 20px;
    transform: rotate(0.75turn);
}

#fleche_gauche {
    width: 20px;
    height: 20px;
    transform: rotate(0.25turn);
}

#div_cercle {
    position: relative;
    top: 10px;
    width: 20%;
    left: 16%;
}

.rond_img_courante {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    opacity: 0.25;
}

#img_courante {
    width: 500px;
    height: 313px;
}

/* CSS pour la partie equipe */
#partie_equipe {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#img_equipe {
    width: 100%;
    display: block;
    margin: auto;
}
.liste_membre {
    padding: 0;
}

#membres {
    text-align: center;
}

.liste_membre li{
    display: inline-block;
    padding: 10px;
}

#lien_alumni_2 {
    color: gray;
}

/* CSS pour la partie projet de recherche */
#div_projet{
    display: flex;
    justify-content: center;
}
.img_theme_recherche {
    width: 100%;
    height: 90%;
    position: relative;
    z-index: 1;
}
.mots_cles {
    position: relative;
    bottom: 15%;
    color: white;
    margin: 10px;
}

.titre_theme_recherche {
    position: absolute;
    color: white;
    z-index: 2;
    margin: 10px;
}

.img_theme_recherche {
    filter: brightness(50%);
}
#div_projet article {
    margin: 5px;
}

#div_projet article:hover .img_theme_recherche {
    z-index: 0;
}

/* CSS pour la partie offre de stage et thèse */
.img_doc {
    width: 5%;
}

#partie_offres_stage_these table {
    width: 100%;
}

#partie_offres_stage_these table td {
    width: 33%;
}

th {
    text-align: left;
}

.information_offre {
    padding-left: 50px;
}

/* CSS pour la partie publications */
#annee_N, #annee_N-1, #annee_N-2, #annee_N-3, #annee_N-4, #annee_N-5, #avant_annee_N-5 {
    margin-left: 25px;
}

.ART, .COMM, .COUV_THESE {
    margin-left: 25px;
}

.liste_publication {
    font-size: 15px;
    list-style-type: none;
    padding-left: 25px;
}

.liste_publication li {
    padding: 10px;
}

.lien_publication_to_hal:hover {
    border-bottom: 1px solid #2a68af;
    color: black;
}

/* CSS responsif */
@media screen and (max-device-width: 900px) {
    /* CSS général */
    body {
        font-size: 30px;
    }

    h3 {
        font-size: inherit;
    }

    /* CSS pour la partie présentation */
    #suite_presentation {
        flex-wrap: wrap;
    }

    /* CSS pour les images défilantes */
    #div_img_defilement {
        width: 100%;
    }

    #img_courante {
        width: 90%;
    }

    #div_cercle {
        bottom: unset;
        left: 39%;
    }
    /* CSS pour la partie équipe */
    #img_equipe {
        width: 100%;
    }

    partie_equipe {
         flex-wrap: wrap;
    }

    .liste_membre {
        font-size: 45px;
    }

    #membres {
        flex-wrap: wrap;
    }

    /* CSS pour la partie projet de recherche */
    #div_projet  {
        flex-wrap: wrap;
    }

    #partie_projet {
        font-size: 45px;
    }

    .mots_cles {
        display: none;
    }

    /* CSS pour la partie offre de stage et thèse */
    .offre_stage_these li {
        width: 100%;
    }

    /* CSS pour la partie publications */
    .liste_publication {
        padding: 0;
        font-size: 25px;
    }
}
