html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    text-align: center;
    font-family: Lato,sans-serif;
    font-size: 20px;
}


#div_projet{
    display: flex;
    justify-content: center;
}
.img_projet {
    width: 90%;
}

.ancre {
    padding-top: 5px;
    border-top: dashed;
}

#partie_equipe {
    display: flex;
    justify-content: center;
}

#img_equipe  {
    align-self: center;
}

.contenu {
    margin-right: 50px;
    margin-left: 50px;
}

footer {
    background-color: black;
}

footer ul {
    margin: 0;
}

.lien_bas_page {
    color: white;
}

#fleche_droite {
    width: 20px;
    height: 20px;
    transform: rotate(0.75turn);
}

#fleche_gauche {
    width: 20px;
    height: 20px;
    transform: rotate(0.25turn);
}

.img_logo {
    display: flex;
    justify-content: center;
}

.logo {
    width: 10%;
    padding: 0 10px;
}

#presentation {
    background-color: #e4e4e4;
    padding-bottom: 50px;
}

#presentation div {
    display: flex;
    justify-content: space-around;
}

#phrase_presentation {
    align-self: center;
    font-size: 45px;
    max-width: 500px;
    font-style: italic;
}

#titre_presentation {
    color: #0900A8;
    padding-top: 20px;
    font-size: 45px;
}


.liste_publication {
    text-align: left;
    font-size: 15px;
}

.liste_publication li {
    padding: 10px;
}

.doc_publie {
    margin-left: 30px;
}

#div_cercle {
    position: absolute;
    bottom: -70px;
    width: 20%;
}

.rond_img_courante {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    opacity: 0.25;
}




@media screen and (max-device-width: 900px) {
    #div_projet  {
        flex-wrap: wrap;
    }
    #partie_equipe {
        flex-wrap: wrap;
    }
    .img_logo {
        flex-wrap: wrap;
    }
    #suite_presentation {
        flex-wrap: wrap;
    }

    #img_courante {
        width: 90%;
    }


    #img_equipe {
        width: 100%;
    }

    .liste_publication {
        padding: 0;
        font-size: 25px;
    }

    body {
        font-size: 30px;
    }
}
