/* CSS génaral pour la page alumni */
.membre_alumni {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.membre_alumni li {
    margin: 10px;
    display: flex;
    background-color: #d0d0d0;
    color: #4187d1;
    width: 30%;
}
.lien_orcid {
    color: #4187d1;
}

.membre_alumni li:hover{
    color: white;
    background-color: #00A2FF;
}

.membre_alumni li:hover .lien_orcid {
    color: white;
}

.membre_alumni li:hover .lien_orcid:hover {
    color: black;
}


.information_alumni {
    margin-left: 10px;
    align-self: center;
}

.img_profil {
    margin-right: 20px;
    width: 100px;
    height: 100px;
    align-self: center;
    filter: grayscale(100%);
}



@media screen and (max-device-width: 900px) {
    .img_profil {
        width: 250px;
        height: 250px;
    }

    .membre_alumni li {
        width: 100%;
    }
}