/* CSS génaral pour la page alumni */
.membre_alumni {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.membre_alumni li {
    margin: 10px;
    display: flex;
    background-color: #d0d0d0;
    color: #4187d1;
}
.lien_orcid {
    color: #4187d1;
}

.membre_alumni li:hover{
    color: white;
    background-color: #00A2FF;
}

.membre_alumni li:hover .lien_orcid {
    color: white;
}

.membre_alumni li:hover .lien_orcid:hover {
    color: black;
}


.information_alumni {
    margin-left: 10px;
    align-self: center;
}

.img_profil {
    margin-right: 20px;
    width: 10%;
}



@media screen and (max-device-width: 900px) {
    .img_profil {
        width: unset;
    }
}