header {
    position: sticky;
    top: 0px;
    background-color: #FAFAFA;
    height: auto;
    border-bottom: solid;
    border-width: 1px;
    border-bottom-color: #00CCFF;
    text-align: left;
    z-index: 1;
}

#logo_ism {
    height: 60px;
    margin-top: 20px;
}

#logo_cbi {
    width: 10%;
}

form {
    align-self: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}


.menu li {
    display: inline-block;
    width: 300px;
}

a {
    color: gray;
    text-decoration: none;

}
a:hover {
    color: #0066CC;
}

#bandeau {
    display: flex;
    justify-content: space-around;
}

#loupe {
    width: 10px;
    height: 10px;
}

button {
    border: none;
    background: none;
}
button:hover {
    cursor: pointer;
}

input {
    border-style: none none solid;
    border-width: 1px;
    border-color: #252525;
    background-color: #FAFAFA;
}

input:focus {
    outline: 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: #00CCFF;
}
input:focus input::placeholder {
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 300px;
    background-color: #00CCFF;

}

.dropdown-content a {
    padding: 5px;
    color: white;
}

.dropdown-content a:hover {
    background-color: #252525;
}


.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.fleche_bas {
    height: 10px;
    width: 10px;
}

.dropdown:hover .fleche_bas {
    transform: rotate(0.5turn);
}

.form_anglais {
    display: flex;
    justify-content: space-around;
}

.form_anglais a {
    align-self: center;
    padding-left: 50px;
}

#menu_tel {
    display: none;
}

#accueil{
    padding-top: 10px;
}

@media screen and (max-device-width: 900px) {
    #menu_tel {
        display: block;
        position: absolute;
        top :0;
        right: 0;
        padding-top: 5%;
        padding-right: 5%;
    }

    #menu_tel span {
        display: block;
        height: 10px;
        width: 60px;
        background-color: #252525;
        margin-top: 10px;
        border-radius: 10px;
    }

    #nav_barre{
        display: none;
    }

    #accueil{
        text-align: center;
    }

    #loupe {
        width: 30px;
        height: 30px;
    }

    input {
        font-size: 30px;
        height: 35px;
        width: 40%;
    }


    .form_anglais {
        position: absolute;
        left: 0;
        top : 25%;
        flex-direction: column;
    }

    #logo_ism {
        height: initial;
    }

    #logo_cbi {
        width: 26%;
    }

    #bandeau {
        justify-content: center;
    }



    .form_anglais a {
        padding-top: 15px;
        align-self: flex-start;
    }

    .menu li {
        display: inline-block;
        font-size: 60px;
        width: auto;
        margin : 5px 10px;

    }

    .menu a {
        padding: 5px;
        color: white;
        border-bottom: solid;
        border-bottom-width: 1px;
    }

    .menu {
        flex-direction: column;
        text-align: right;
        position: absolute;
        right: 20px;
        background-color: #00CCFF;
        padding: 0;
    }

    .fleche_bas {
        height: 25px;
        width: 25px;
    }

    .dropdown-content {
        flex-direction: column;
        position: relative;
        z-index: 1;
        width: auto;
        background-color: #1A78E1;

    }

}
