/* CSS général pour la page projet */
.sous-projet {
    display: flex;
    justify-content: space-around;
}

.sous-projet article {
    background-color: #00AFF0;
    padding: 40px;
    margin: 10px;
    width: 100%;
}

.introduction {
    background-color: #32E7E2;
    font-size: 18px;
}

.titre_sous_projet {
    color: white;
    font-size: 37px;
}

@media screen and (max-device-width: 900px) {
    .sous-projet {
        flex-wrap: wrap;
    }

    .introduction {
        font-size: 27px;
    }

    .img_projet {
        width: 75%;
    }

    .sous-projet article {
        height: auto;
    }
}