.publication_annee {
    text-align: left;
    font-size: 15px;
}

.publication_annee li {
    padding: 10px;
}

.doc_publie {
    margin-left: 30px;
}

@media screen and (max-device-width: 900px) {
    .publication_annee {
        font-size: 25px;
    }
}
