/* CSS général */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Lato,sans-serif;
}

.contenu {
    margin : 0 150px;
}

.ancre {
    padding-bottom: 5px;
    border-bottom: 1px solid;
    margin: 5px 0;
}

.partie {
    margin-bottom: 50px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

.lien_bas_page {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #2a68af;
}

button {
    border: none;
    background: none;
}
button:hover {
    cursor: pointer;
}



/* CSS pour la partie equipe */
#partie_equipe {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#img_equipe {
    width: 100%;
    display: block;
    margin: auto;
}
.liste_membre {
    padding: 0;
}

#membres {
    text-align: center;
}

.liste_membre li{
    display: inline-block;
    padding: 10px;
}

.membres_partenaires a {
    color: gray;
    padding: 30px;
}



/* CSS pour la partie projet de recherche */
#div_projet{
    display: flex;
    justify-content: center;
}
.img_theme_recherche {
    width: 100%;
    height: 90%;
    position: relative;
    z-index: 1;
}
.mots_cles {
    position: relative;
    bottom: 20%;
    color: white;
    margin: 10px;
}

.titre_theme_recherche {
    position: relative;
    color: white;
    z-index: 2;
    margin: 10px;
    bottom: 91%;
    text-shadow: 1px 1px 5px black;
}

#div_projet article {
    margin: 5px;
    width: 100%;
}

#div_projet article:hover .img_theme_recherche {
    z-index: 0;
    filter: brightness(50%);
}

/* CSS pour la partie offre de stage et thèse */
.img_doc_offre {
    width: 9%;
}

#partie_offres_stage_these table {
    width: 100%;
}

#partie_offres_stage_these table tr{
    height: 15px;
}

th {
    text-align: left;
}

.information_offre {
    padding-left: 50px;
    width: 25%;
}

.information_offre_sujet {
    width: 50%;
}

/* CSS pour la partie publications */
#annee_N, #annee_N-1, #annee_N-2, #annee_N-3, #annee_N-4, #annee_N-5, #avant_annee_N-5 {
    margin-left: 25px;
}

.ART, .COMM, .COUV_THESE {
    margin-left: 25px;
}

.liste_publication {
    font-size: 15px;
    list-style-type: none;
    padding-left: 25px;
}

.liste_publication td {
    padding: 10px;
}

#td_informations_publication {
    width: 90%;
}

#td_fichier_publication {
    width: 10%;
}

.img_doc_publication {
    width: 25%;
}

.lien_publication_to_hal:hover {
    border-bottom: 1px solid #2a68af;
    color: black;
}

/* CSS responsif */
@media screen and (max-device-width: 900px) {
    /* CSS général */
    body {
        font-size: 30px;
    }
    .contenu {
        margin: 0 25px;
    }

    /* CSS pour la partie équipe */
    #img_equipe {
        width: 100%;
    }

    #partie_equipe {
         flex-wrap: wrap;
    }

    #membres {
        flex-wrap: wrap;
    }

    /* CSS pour la partie projet de recherche */
    #div_projet  {
        flex-wrap: wrap;
    }

    .mots_cles {
        display: none;
    }

    /* CSS pour la partie offre de stage et thèse */
    .offre_stage_these li {
        width: 100%;
    }

    .img_doc_offre {
        width: 50%;
    }

    /* CSS pour la partie publications */
    .liste_publication {
        padding: 0;
        font-size: 25px;
    }

    .img_doc_publication {
        width: 75px;
    }

    footer {
        margin-top: 20px;
    }
}
