/* CSS génaral pour la page alumni */
.membres_actuels {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.membres_actuels li {
    margin: 10px;
    display: flex;
    background-color: #f1f1f1;
    color: #5A5A5A;
    width: 30%;
}
.lien_orcid {
    color: #5A5A5A;
}

.membres_actuels li:hover .lien_orcid:hover {
    color: black;
}


.information_alumni {
    margin-left: 10px;
    align-self: center;
    font-size: 14px;
}

.information_alumni strong {
    font-size: 17px;
}

.img_profil {
    margin-right: 20px;
    width: 100px;
    height: 100px;
    align-self: center;
    filter: grayscale(100%);
}

.ancien_membres {
    width: 100%;
    margin-left: 50px;
}

.ancien_membres tr{
    height: 20px;
}

.td_nom, .td_mission, .td_date{
    width: 10%;
}

.td_sujet {
    padding-right: 50px;
    width: 40%;
}



@media screen and (max-device-width: 900px) {
    .img_profil {
        width: 250px;
        height: 250px;
    }

    .membres_actuels li {
        width: 100%;
    }
}