.img_logo {
    width: 200px;
    align-self: center;
}

.collaborations {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collaborations li {
    margin: 10px;
    display: flex;
    background-color: #f1f1f1;
    color: #5A5A5A;
    width: 48%;
}

.div_info_partenaires {
    margin-left: 10px;
    align-self: center;
}

#professeur_invite {
    list-style-type: none;
}

@media screen and (max-device-width: 900px){
    .collaborations li {
        width: 100%;
    }
}