/* CSS général pour la page projet */
.sous-projet div {
    display: flex;
    justify-content: space-around;
}

.sous-projet article {
    margin: 10px;
    width: 100%;
    text-align: justify;
}

.introduction {
    font-size: 18px;
}

.titre_sous_projet {
    font-size: 37px;
}

article p {
    font-size: 16px;
}
.img_projet {
    width: 100%;
}


@media screen and (max-device-width: 900px) {
    .sous-projet div{
        flex-wrap: wrap;
    }

    .introduction {
        font-size: 27px;
    }

    article p {
        font-size: unset;
    }

    .sous-projet article {
        height: auto;
    }
}