/* CSS général pour la page projet */
.div_projet {
    display: flex;
    justify-content: space-around;
}

.projet {
    margin: 10px;
    width: 100%;
    text-align: justify;
}

.chair {
    margin: 50px;
}

.introduction {
    font-size: 18px;
}

.titre_sous_projet {
    font-size: 37px;
}

article p {
    font-size: 16px;
}
.img_projet {
    width: 100%;
    height: 375px;
}

.logo_projet {
    width: 35%;
}

.div_logo_projet {
    text-align: center;
}

.liste_membre_projet {
    list-style-type: none;
}



@media screen and (max-device-width: 900px) {
    .sous-projet div{
        flex-wrap: wrap;
    }

    .introduction {
        font-size: 27px;
    }

    article p {
        font-size: unset;
    }

    .sous-projet article {
        height: auto;
        border-top: 1px solid;
        padding-top: 30px;
    }

    .img_projet {
        height: unset;
        width: 100%;
    }
}