.membre {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}

.membre li {
    margin: 10px;
    display: flex;
    background-color: #d0d0d0;
    color: #4187d1;
    width: 48%;
}
.lien_orcid {
    color: #4187d1;
}

.membre li:hover{
    color: white;
    background-color: #00A2FF;
}

.membre li:hover .lien_orcid {
    color: white;
}

.membre li:hover .lien_orcid:hover {
    color: black;
}



.information_alumni {
    margin-left: 10px;
    align-self: center;
}

.img_profil {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    align-self: center;
    filter: grayscale(100%);
}

@media screen and (max-device-width: 900px) {
    .img_profil {
        width: 250px;
        height: 250px;
    }

    .membre{
        font-size: unset;
    }

    .membre li {
        width: 100%;
    }
}
